[menu footer_menu1]
start = "id-28"
activeNode = 0
listItemClasses = "footer-menu-item"
primaryClasses = "footer-menu"
secondaryClasses = "dropdown-menu"
numberOfLevels = 1

[menu footer_menu2]
start = "id-13"
activeNode = 0
listItemClasses = "footer-menu-item"
primaryClasses = "footer-menu"
secondaryClasses = "dropdown-menu"
numberOfLevels = 1

[menu footer_menu3]
start = "id-13"
activeNode = 0
listItemClasses = "footer-menu-item"
primaryClasses = "footer-menu"
secondaryClasses = "dropdown-menu"
numberOfLevels = 1

[cookieConsent]
message = "This website uses cookies to ensure you get the best experience on our website."
dismiss = "Got it!"
learnMore = "More info"
link = "/privacy-policy"
theme = "dark-bottom"

[jumbotron footer_funds_text]
jumbotron = "footer-intro"
background = "transperant"
templates = "template1"
description_limit = 0
==
<?php
use Pensoft\Partners\Models\Partners as Partner;

function onStart(){
    //supporting
    $this['coordinating_partners'] = Partner::where('type', 4)->get();
    //main
    $this['consortium_partners'] = Partner::where('type', 1)->get();
}
?>
==
<div class="container-fluid border-box subscribe-newsletter-background">
    {% if this.page.id != 'technology' %}
    <div class="row container middle-xs between-xs">
        <div class="col-xs-12 center-xs mb-1 mt-2">COORDINATED BY</div>
        <div class="col-xs-12 center-xs coordinating_partners">
            {% for c in coordinating_partners %}
                <a href="{{c.instituion_url}}" target="_blank">
                    <img alt="{{ c.instituion }}" src="{{c.cover.thumb(auto,118,{'mode':'crop'})}}"></a>
                
            {% endfor %}
        </div>
    </div>
    <div class="row container middle-xs between-xs">
        <div class="col-xs-12 center-xs mb-1 mt-2">CONSORTIUM</div>
        <div class="col-xs-12 center-xs consortium_partners">
                <div id="slick">
                    {% for c in consortium_partners %}
                    <div class="slide">
                        <div class="partner_logo"><a href="{{c.instituion_url}}" target="_blank">
                            <img alt="{{ c.instituion }}" src="{{c.cover.thumb(auto,90,{'mode':'crop'})}}"></a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
        </div>
    </div>
    {% endif %}
    <div class="row container middle-xs between-xs">
        <div class="col-xs-12 center-xs mb-2 mt-2">SIGN UP TO OUR NEWSLETTER AND STAY UP TO DATE!</div>
        <div class="col-xs-12 center-xs"><a href="{{this.theme.subscribe}}" class="btn btn-primary" target="_blank">Subscribe</a> </div>
    </div>
</div>


<div class="container-fluid border-box dark-background">{% component 'cookieConsent' %}
    <div class="container">
        <div class="row top-xs between-xs footer-menu-container">
            <div class="col-lg-5 col-md-12 col-xs-12 footer-right-border">
                {% if (footer_funds_flag != null or footer_funds_text != '') %}
                <div class="funding flex-column my-1 my-lg-0 flex-lg-row px-1 align-items-center col-xs-12">
                    {% if footer_funds_flag %}
                    <img class="text mr-0 mr-lg-1" style="height:50px;" src="{{ footer_funds_flag }}"/>
                    {% endif %}
                </div>
                <div class="funding-text col-xs-12">
                    <span class="align-items-center mt-sm-0 mt-1">
                        ANERIS receives funding from the European Union’s Horizon Europe research and innovation programme under grant agreement No 101094924. Views and opinions expressed are however those of the author(s) only and do not necessarily reflect those of the European Union or the European Commission. Neither the EU nor the EC can be held responsible for them.
                    </span>
                </div>
                {% endif %}
                <div class="col-xs-12 powered-by-container">
                    <div class="row middle-xs">
                        <div class="col-lg-4 col-md-12 col-xs-12 start-md center-xs nowrap">
                            <a style="flex:0 0 auto; font-size: 18px;" href="/privacy-policy">Privacy Policy</a>
                        </div>
                        <div class="col-lg-8 col-md-12 col-xs-12 end-md center-xs">
                            <div class="powered-by my-1 my-lg-0 px-1 start-md center-xs">
                                <span>Designed and powered by</span> <a href="https://pensoft.net/" target="_blank">
                                <img class="pensoft_logo" src="{{ 'assets/images/pensoft-logo.svg'|theme }}" /></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-12 col-xs-12 ">
                <div class="row">
                    <div class="col-xs-12 col-lg-4 col-md-4 start-md center-xs col-sm-6 start-sm mb-1">
                        <a href="/"><img class="project_footer_logo" src="{{ 'assets/images/ANERIS logo-white.svg'|theme }}" /></a>
                        <div class="head">Contact</div>
                        <a href="mailto:project@aneris.eu" target="_blank"><img class="mail_icon" src="{{ 'assets/images/mail.svg'|theme }}"> project@aneris.eu</a>
                    </div>
                    <div class="row menu-footer">
                        <div class="col-xs-12 col-lg-4 col-md-4 start-md col-sm-6">
                            <div class="head">Links</div>
                            {% component 'footer_menu1' %}
                        </div>
                        <div class="col-xs-12 col-lg-4 col-md-4 start-md col-sm-6">
                            <div class="head hidden-xs">&nbsp;</div>
                            {% component 'footer_menu2' %}
                        </div>
                        <div class="col-xs-12 col-lg-4 col-md-4 start-md  col-sm-6">
                            <div class="head hidden-xs">&nbsp;</div>
                            {% component 'footer_menu3' %}
                        </div>
                    </div>
                </div>

                <div class="row follow-row">

                    <div class="col-lg-10 col-md-10 col-xs-12">
                        <div class="row">
                            <div class="head social col-md-5 col-xs-12">Follow ANERIS
                                <div class="social-networks">
                                    <div class="icons">
                                        {% if enable_facebook and facebook_url %}
                                        <a href="{{facebook_url}}" target="_blank" class="pr p-secondary p-facebook big" target="_blank"></a>
                                        {% endif %}
                                        {% if enable_twitter and twitter_url %}
                                        <a href="{{twitter_url}}" target="_blank" class="pr p-secondary p-twitter big" target="_blank"></a>
                                        {% endif %}
                                        {% if enable_linkedin and linkedin_url %}
                                        <a  href="{{linkedin_url}}" target="_blank" class="pr p-secondary p-linkedin big" target="_blank"></a>
                                        {% endif %}
                                        {% if enable_youtube and youtube_url %}
                                        <a  href="{{youtube_url}}" target="_blank" class="pr p-secondary p-youtube big" target="_blank" style="font-size: 37px!important;"></a>
                                        {% endif %}
                                        {% if enable_instagram and instagram_url %}
                                        <a  href="{{instagram_url}}" target="_blank" class="pr p-secondary p-instagram big" target="_blank" style="font-weight: 400 !important; margin-top: 2px; margin-left: 6px"></a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-lg-7 col-md-7 col-xs-12 subscribe-btn">
                                <a href="https://dashboard.mailerlite.com/forms/375373/83340841528067158/share" target="_blank" class="btn-footer">Subscribe to newsletter</a>
                            </div>   
                        </div>                        
                    </div>



                    <div class="col-lg-2 col-md-2 col-xs-12">
                        <a href="#" class="btn btn-primary btn-zendo"></a>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>